// Font colors
$color-theme-orange: #eea302;

$font-color-primary: #333;
$font-color-secondary: #666;
$font-color-accent: #343451;




// Mixins
@mixin small-screen {
	@media screen and (max-width: 767px) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: 768px) and (max-width: 1023px) {
		@content;
	}
}