@import "./../styles/theme";

// Inputs styles. TODO: put in it's own component
.input-text,
.input-textarea {
	display: flex;
	flex-direction: column;

	label {
		display: block;
		margin-bottom: 12px;
	}

	input,
	textarea {
		outline: 1px solid rgb(59, 55, 55);
		padding: 8px 12px;
	}

	&.error {

		input,
		textarea {
			outline-color: rgb(255, 64, 64);
		}

		.error-info {
			display: flex;
			align-items: center;
			gap: 4px;
			margin-top: 8px;
			font-size: 12px;
			color: rgb(255, 64, 64);
		}
	}
}

.page-contact-section {
	margin-block: 80px;

	h1 {
		font-size: 44px;
		margin-bottom: 44px;
		
		@include small-screen {
			font-size: 34px;
			text-align: center;
		}
	}

	.contact-container {
		display: flex;
		flex-wrap: wrap;

		.aside {
			flex: 1 0 auto;
			padding-top: 14px;

			@include small-screen {

				h2,
				p {
					margin-left: 24px;
				}
			}


			.info {
				font-weight: 300;
			}

			.aside-item {
				margin-bottom: 12px;

				@include small-screen {
					display: none;
				}

				&:first-of-type {
					margin-top: 26px;
				}

				.info {
					font-weight: 300;
				}
			}
		}

		.body {
			flex: 2;

			@include small-screen {
				flex: 2 0 360px;
			}
		}
	}

	// Form styling
	.form-grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 15px;
		max-width: 740px;
		padding: 20px;
		border-radius: 8px;

		.input-text {
			grid-column: 2 span;
			height: 90px;

			@include tablet {
				grid-column: 4 span;
			}

			@include small-screen {
				grid-column: 4 span;
			}
		}

		.input-textarea {
			grid-column: 3 span;
			height: 200px;
			
			@include small-screen {
				grid-column: 4 span;
			}

			.submit-error,
			.submit-success {
				display: flex;
				align-items: center;
				gap: 4px;
				font-size: 16px;
				margin-top: 8px;
			}

			.submit-error {
				color: rgb(255, 64, 64);
			}

			.submit-success {
				color: rgb(52, 129, 49);
			}
		}

		.submit-container {
			grid-column: 1 span;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 200px;
			
			@include small-screen {
				height: auto;
				grid-column: 4 span;
			}

			.round-btn {
				width: 140px;
				height: 140px;
				border: 1px solid;
				border-radius: 1000px;
				transition: background-color 600ms;
				font-size: 22px;
				font-weight: 600;
				background-color: #eea302;
				
				@include small-screen {
					width: auto;
					height: auto;
					padding: 16px 22px;
					margin: 0 auto;
					font-size: 18px;
				}

				&:hover {
					background-color: inherit;
				}
			}
		}
	}
}
