.page-resume-section {
	margin-block: 80px;

	h1 {
		font-size: 44px;
		margin-bottom: 44px;
	}

	.resume-container {
		display: flex;

		.aside {
			flex: 1;
		}

		.body {
			flex: 2;
			padding-block: 6px;

			.item {
				margin-bottom: 24px;
			}


		}
	}

	hr {
		border: none;
		border-top: 1px solid #c7c7c7;
		margin-bottom: 24px;
	}
}