@import "./../styles/theme";

.app-footer {
	width: 100%;
	padding-inline: 32px;

	.app-footer-container {
		display: flex;
		flex-wrap: wrap;
		gap: 18px;
		border-top: 1px solid #c7c7c7;
		padding: 32px 0;


		.footer-item {
			flex: 1 0;

			@include tablet {
				flex: 1 0 40%;
			}

			@include small-screen {
				flex: 1 0 100%;
			}

			.label {
				font-size: 18px;
				font-weight: 600;
				margin-bottom: 4px;
			}

			.info {
				display: flex;
				align-items: center;
				gap: 4px;
				font-weight: 300;
				cursor: pointer;
			}

			.text-info {
				width: 280px;
				font-weight: 300;

				a {
					cursor: pointer;
					text-decoration: underline;
				}
			}
		}
	}
}