@import "./../styles/theme.scss";

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding-inline: 12px;

	.navbar-brand {
		display: flex;
		align-items: center;
		gap: 8px;
		cursor: pointer;

		.navbar-chip {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background-color: $color-theme-orange;
		}

		p {
			font-size: 22px;
			line-height: 22px;
			font-weight: 600;

			small {
				font-weight: 300;
				margin-left: 4px;
			}

			@include small-screen {
				font-size: 18px;
			}
		}
	}

	.navbar-items {
		display: flex;
		flex-basis: 300px;

		li {
			flex-grow: 1;
			text-align: center;
			transition: color 600ms;
			cursor: pointer;

			&:hover,
			&.active {
				color: #926402;
			}

			&:not(:last-child) {
				border-right: 1px solid #000;
			}
		}

		@include small-screen {
			display: none;
		}
	}

	.navbar-burger {
		display: none;

		@include small-screen {
			display: block;
		}
	}
}

.drawer-closer {
	display: flex;
	justify-content: end;
	width: 100%;
	padding: 22px 0;
	margin-bottom: 5rem;
}

.drawer-items {
	font-size: 22px;
	font-weight: 300;

	li {
		height: 56px;
		cursor: pointer;

		&:hover,
		&.active {
			color: #926402;
		}
	}
}