.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding-inline: 12px;

	.navbar-brand {
		display: flex;
		align-items: center;
		gap: 8px;
		cursor: pointer;

		.navbar-chip {
			width: 24px;
			height: 24px;
			border-radius: 1000px;
			background-color: #eea302;
		}

		p {
			font-size: 22px;
			line-height: 22px;
			font-weight: 600;

			small {
				font-weight: 300;
				margin-left: 4px;
			}
		}
	}

	.navbar-items {
		display: flex;
		flex-basis: 300px;

		li {
			flex-grow: 1;
			text-align: center;
			transition: color 600ms;
			cursor: pointer;

			&:hover, &.active {
				color: #926402;
			}

			&:not(:last-child) {
				border-right: 1px solid #000;
			}
		}
	}
}