@import "./../styles/theme.scss";

.resume-item {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;

	.item-aside {
		min-width: 200px;
		padding: 3px 0;
		text-align: right;

		@include tablet {
			text-align: left;
		}

		@include small-screen {
			text-align: left;
		}

		span {
			font-weight: 300;
			text-transform: capitalize;
		}
	}

	.item-content {
		word-break: keep-all;

		.item-header {
			display: flex;
			gap: 6px;
			min-width: 530px;
			margin-bottom: 4px;

			div:first-of-type {
				width: 36px;
				display: flex;

				a {
					min-width: 32px;
					height: 32px;
					border: 1px solid #dadce0;
					border-radius: 50%;
					background-size: 32px;
					background-repeat: no-repeat;
					background-position: center;
					cursor: pointer;
				}
			}

			h3 {
				text-transform: capitalize;
			}

			p {
				color: #707070;
			}
		}

		.item-body {
			max-width: 480px;
			font-size: 16px;
			margin-bottom: 8px;
			margin-left: calc(36px + 6px); // link width + gap

			@include small-screen {
				max-width: clamp(300px, 80vw, 480px);
			}

			.description {
				line-height: 1.5;
				font-weight: 300;
				margin-bottom: 8px;
			}

			.task {
				line-height: 1.5;
				font-weight: 300;

				&::before {
					content: "-";
					margin-right: 4px;

					@include small-screen {
						display: none;
					}
				}
			}

		}

		.item-footer {
			margin-left: calc(36px + 6px); // link width + gap

			.label {
				margin-bottom: 4px;
			}

			div {
				display: flex;
				gap: 8px;
				margin-bottom: 8px;

				// TODO: isolate in component
				.chip {
					display: flex;
					align-items: center;
					gap: 4px;
					padding: 3px 8px;
					border: 1px solid #dadce0;
					border-radius: 12px;
					background-color: lighten($color: #dadce0, $amount: 10%);
					color: darken($color: #dadce0, $amount: 70%);
					font-size: 14px;
					font-weight: 500;
					text-transform: capitalize;

					@include small-screen {
						display: none;
					}
				}

				.tooltip {
					display: none;

					@include small-screen {
						display: block;
					}
				}
			}
		}
	}
}