.resume-item {
	display: flex;
	gap: 4px;

	.resume-item-aside {
		width: 200px;
		padding-inline: 18px;
		padding-block: 2px;
		text-align: right;

		span {
			font-weight: 300;
			text-transform: capitalize;
		}
	}

	.resume-item-link {
		border: 1px solid;
		width: 32px;
		height: 32px;
		border: 1px solid #dadce0;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		img {
			display: block;
			width: 18px;
			height: 18px;
		}
	}

	.resume-item-header {
		display: flex;
		align-items: center;
		gap: 6px;
		margin-bottom: 4px;

		h3 {
			text-transform: capitalize;
		}

		p {
			color: #707070;
		}
	}

	.resume-item-body {
		max-width: 480px;
		font-size: 16px;
		margin-bottom: 8px;

		.description {
			line-height: 1.5;
			font-weight: 300;
			margin-bottom: 8px;
		}

		.task {
			font-weight: 300;

			&::before {
				content: "-";
				margin-right: 4px;
			}
		}

	}

	.resume-item-footer {
		.label {
			margin-bottom: 4px;
		}

		div {
			display: flex;
			gap: 8px;
			margin-bottom: 8px;

			img {
				cursor: pointer;
			}
		}
	}
}