@import "./styles/theme";

#main-app-container {
	/* todo: use scss variables */
	min-height: calc(100vh - 240px);
	max-width: 1408px;
	margin: 0 auto;
	padding: 0 24px;
	
	@include small-screen {
		padding: 0 12px;
	}
}