

.navbar-brand p:first-of-type {
  
}



.navbar ul {
  display: flex;
  flex-basis: 400px;
}

.navbar ul li {
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
  transition: color 600ms;
}

.navbar ul li:hover {
  color: #926402;
}


.navbar ul li:not(:last-child) {
  border-right: 1px solid #000;
}